<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Todo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
</head>
<body>
    <!-- Store data in the root element's dataset -->
    <div id="edit-root" 
         data-todo='{{ todo | tojson | safe }}'
         data-index='{{ index | tojson | safe }}'>
    </div>

    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/edit.jsx') }}"></script>
</body>
</html>